@import "../../../css-variables/fonts";

.form-description {
  width: 80%;
  align-self: center;
  text-align: center;
  font-family: $InterMedium;
  font-size: $small;
  font-weight: 500;
  line-height: 18px;
  color: #5A8CCF;
}