@import "src/styles/global";

.form-description {
  width: 80%;
  align-self: center;
  text-align: center;
  font-family: $Inter-Medium;
  font-size: $small;
  font-weight: 500;
  line-height: 18px;
  color: #5A8CCF;
}