@import "css-variables/fonts";
@import "css-variables/colors";

body {
  margin: 0;
  font-family: $InterRegular;
  background: $mainBackground;
  color: $secondary
}

@font-face {
  font-family: "Inter-Bold";
  src: local('Inter-Bold'), url("shared/assets/fonts/inter/Inter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-Medium";
  src: local('Inter-Medium'), url("shared/assets/fonts/inter/Inter-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-Regular";
  src: local('Inter-Regular'), url("shared/assets/fonts/inter/Inter-Regular.ttf") format('truetype');
}
