.switcher-container {
  padding: 2px;
  border: 1px solid #FF66C4;
  border-radius: 6px;

  &__button {
    width: 66px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background: #1653A5;
    color: #fff;
    cursor: pointer;

    &_active {
      background: #FF66C4;
    }
  }
}